// Colores principales
$primary-color: #111;
$secondary-color: #ffc107;
$dark: #111;
$light: #eee;

// Tipografías
$font-main: 'Poppins', sans-serif;

// Espaciado
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 32px;

// Border radius
$radius: 10px;
